body {
    color: white;
    background-color: rgb(1, 1, 27);
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 15em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: rgb(12, 160, 209);
}

.avatar-title-section {
    text-align: center;
}

.avatar-home {
    margin: 2.5em 0;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(12, 160, 209);
    text-align: center;
    transition: opacity 0.5s;
}

.avatar-home:hover {
    opacity: 0.6;
}

header h1 {
    color: rgb(12, 160, 209);
    text-shadow: 1px 1px 5px blue;
}

header h2 {
    text-shadow: 5px 5px 10px blue;
}

.main-content {
    padding: 2em 0;
    text-align: center;
}

.main-content h3 {
    color: lightblue;
}

.main-content p {
    padding: 0 30em;
    text-align: center;
}

.list-stacks {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.stack {
    list-style-type: none;
}

.stack:nth-child(2n) {
    color: rgb(12, 160, 209);
}

footer {
    border-top: 1px solid rgba(211, 211, 211, 0.068);
    padding: 1em 0;
    background-color: lightblue;
    opacity: 0.5;
    transition: all 0.5s;
}

footer:hover {
    opacity: 1;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.item-social-link {
    margin: 0 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s;
}

.item-social-link:hover {
    transform: scale(1.1)
}

.item-social-link img {
    margin-right: 0.5em;
    width: 25px;
}

.item-social-link a {
    text-decoration: none;
    color: darkblue;
    transition: color 0.5s;
}

.item-social-link a:hover {
    color: black;
}